//----------------------------------------------------------
// MODAL AJAX FORM
//----------------------------------------------------------
div.modal-scrollable {
    z-index: 1002;
}

.dz-modal-scrollable {
    z-index: 2002;
}

#dz-modal-title {
    margin: 0;

    .label {
        margin-left: 10px;
        cursor: default;
    }
}

.modal {
    top: 20%;

    &.fade {
        top: -10000%;
    }
    
    .form-wrapper {
        .form-actions {
            padding-left: 3px;
            margin-bottom: 5px;
        }
    }

    .tab-content {
        min-height: 80px;
    }

    h4 {
        &,
        a {
            font-size: 18px;
        }

        a:hover {
            // color: $color-green-light;
        }
    }
}

.dz-ajax-grid-view table tbody td .badget-wrapper {
    display: inline;
    margin-left: 5px;
}

#dz-modal-body form .form-actions,
.dz-modal-body form .form-actions {
    display: none;
}

#dz-modal-body {
    padding: 8px 15px;

    .nav-tabs {
        margin-bottom: 10px;

        > .active > a,
        > .active > a:hover {
            color: #333;
        }

        > li > a,
        > li > a:hover {
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .tab-content {
        > .tab-pane,
        > .tab-external-pane {
            width: 99%;
        }

        .field-wrapper {
            margin-bottom: 4px;
        }

        hr {
            margin: 7px 0 10px;
        }
    }

    .last-row {
        input,
        .field-wrapper {
            margin-bottom: 0;
        }
    }
}

.dz-modal-form-link {
    text-decoration: none !important;
    border-bottom: 1px dashed #000; 

    &:hover {
        border-bottom: 1px dashed #F77F00;
    }

    &.btn,
    &.btn:hover {
        border-bottom: 1px solid #CCC !important;
    }
}

.dropdown-menu {
    > a.dz-modal-form-link,
    > a.dz-modal-form-link:hover  {
        border: 0;
        text-decoration: none;
    }
}

/** MODAL **/
.modal-header {
    padding: 0px 12px;
}

#dz-modal-ajax-grid .modal-header {
    padding: 6px 12px;
}

.modal-body {
    padding: 0px 30px 0px 10px;
    position: relative;

    button.close {
        margin: 0 !important;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .form-group.row {
        margin-bottom: 0;
    }
}

.modal-footer {
    border-top: 1px solid #E4EAEC;
    padding: 8px 16px 8px;

    .btn {
        &.btn-default {
            & {
                color: $default-color;
            }
        }

        &,
        &.btn-primary,
        &.btn-dark {
            &,
            &:hover {
                color: #FFF;
            }
        }
    }
}

.modal-header h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}

div.loading-spinner {
    cursor: pointer;
}

.modal.fade,
.modal.fade .modal-dialog {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.modal-overflow.modal {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-backdrop {
    z-index: 1702;
}

// BOOTBOX
.bootbox {
    width: auto;

    h3,
    h3 * {
        font-size: 20px;

        > i,
        > i:first-child {
            margin-right: 2px;
        }
    }

    &.modal {
        z-index: 2000;
    }

    .modal-dialog {
        margin: 0 auto;
    }

    p {
        font-size: 15px;
    }
}

.modal.bootbox {
    top: 40%;
}

// BATCH
.modal-body {
    .batch-loading {
        position: absolute;
        top: 0;
        left: 10px;
    }
    .batch-description {
        display: block;
        margin-left: 32px;
        font-size: 18px;
        line-height: 1.4em;
    }
}
