//----------------------------------------------------------
// REDACTOR CUSTOM CSS
//----------------------------------------------------------
.redactor-toolbar {
    background: $color-blue-grey-100;

    li {
        a:hover {
            background-color: #263238; // $color-app-pri;
        }


        a.redactor-act {
            color: #FFF;
        }

        a:active {
            color: rgba(163, 175, 183, 0.9);
        }
    }
}

.dd3-content {
    .redactor-toolbar {
        background: $color-blue-grey-100
    }
}

.redactor-box {
    margin-bottom: 10px;
    
    .redactor-toolbar, .redactor-dropdown {
        z-index: 999 !important;
        webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    textarea {
        background-color: #263238;
    }
}

.redactor-editor {
    padding: 8px 10px;

    strong {
        font-weight: bold;
    }
}

.redactor-editor {
    div, p, ul, ol, table, dl, figure, blockquote, pre {
        margin-bottom: 8px;
    }
}