#country-grid .country_code_column{width:145px;text-align:center;text-transform:uppercase}#translation-page-header .page-header-actions label{padding-right:5px;color:#37474f}#translation-page-header .page-header-actions label,#translation-page-header .page-header-actions select{display:inline-block;width:auto;font-size:1.1rem}#batch-import-grid{margin-top:2.75rem}#batch-import-grid>.summary{top:77px;right:30px}
