//----------------------------------------------------------
// WEB MODULE
//----------------------------------------------------------

// Vars, mixins & helpers
@import "../config/colors";
@import "../config/variables";
@import "../config/mixins";

.index-page .panel-slideshow-summary {
	.summary {
    	top: -45px;
    }

    .grid-view {
    	margin-top: 0;
    }
}

#slideshow-grid {
	.image_id_header,
	.image_id_column {
		width: 160px;
	}

	.button-column {
		width: 80px;
	}
}